.swiper__slide-image {
    height: 300rpx;
    width: 100%;
}
.swiper__text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    height: 50rpx;
    line-height: 50rpx;
    color: #fff;
    padding: 0 20rpx;
}