@import "../../base/fn.scss";

.weui-cell_access {
  color: inherit;
}
.weui-cell__ft_in-access {
  padding-right: 13px;
  position: relative;
  &:after {
    content: " ";
    @include setArrow(right, 6px, #c8c8cd, 2px);
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 2px;
  }
}
.weui-cell_link {
  color: $weuiLinkColorDefault;
  font-size: 14px;

  &:active {
    background-color: $weuiCellActiveBg;
  }

  // 由于weui-cell:first-child的:before为隐藏，所以这里要重新显示出来
  &:first-child {
    &:before {
      display: block;
    }
  }
}
