@import "../../../base/fn.scss";

.weui-cell_vcode {
  padding-right: 0;
}
.weui-vcode-img {
  margin-left: 5px;
  height: calc($weuiCellHeight / $weuiCellFontSize * 1em);
  vertical-align: middle;
}
.weui-vcode-btn {
  display: inline-block;
  height: calc($weuiCellHeight / $weuiCellFontSize * 1em);
  margin-left: 5px;
  padding: 0 0.6em 0 0.7em;
  border-left: 1px solid $weuiLineColorLight;
  line-height: calc($weuiCellHeight / $weuiCellFontSize * em);
  vertical-align: middle;
  font-size: $weuiCellFontSize;
  color: $weuiDialogLinkColor;
  white-space: nowrap;
  &:active {
    color: desaturate($weuiDialogLinkColor, 30%);
  }
}
