@import "./style/common.scss";
@import "./style/weui.scss";
@import "./style/custom-theme.scss";
@import "~taro-ui/dist/style/components/modal.scss";

page {
  color: #333;
  background-color: #f5f7f7;
  font-size: 32px;
  font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}
