.zz-container{
    width:100%;
    height: 100vh;
    box-sizing: border-box;
    background:#fff;
    display: flex;
    flex-direction: column;
}

.zz-container.iphonex {
    padding-bottom:35px;
}

.zz-content{
    width:100%;
    flex:1;
    overflow: hidden;
    overflow-y: auto;
}

.ellipse-one {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
  
.ellipse {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}